#ManagerBusiness
{
    width: 1200px;
    font-size:14pt;
    color:Purple;
    padding-left:120px;
    
}
#Business-column
{
    overflow: hidden;
	padding-top: 30px;
    height:200px;
}
#Business-column .tTable1 h2, #Business-column .tTable2 h2, #Business-column .tTable3 h2
{
    margin-bottom: 1em;
	text-transform: uppercase;
	color: #515151; 
}
#Business-column .tTable1,#Business-column .tTable2,#Business-column .tTable3
{
    float: left;
	width: 375px;/*384px for text*/
	margin-right: 24px;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.80em;
	font-weight: 600;
	color: #9944BB;
}
#BusinessTable
{
    padding-left:400px;
}
.AddManager
{
    padding-top:200px;
    padding-bottom:200px
}