<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<div>
<!-- copy begin -->
    <table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top" class="bgColor2" style="padding:10px;line-height:180%;">
                <script language="javascript" src="JSSrc/AboutLeft.asp?ID=19&PID="></script>
            </td>
            <td width="768" height="600" valign="top">
                <script language="javascript" src="JSSrc/HD.asp?c=2"></script>
                <div>&nbsp;</div>
                <div style="padding-left:20px;">
                    <div>&nbsp;</div>
                    <div class="Size2 cnfont" style="font-size:20px;">保险费用</div>
                    <div id="nullLine">&nbsp;</div>
                    <div style="line-height:160%;"><p align="left">
                        由您决定是否在目的国以总重置价值为货品投保。如果您为所托运物品投不足险，则按“海损”标准来处理。即，您只能得到按与保险价值占实际价值相同比例的赔偿。<span></span>
                    </p>
                        <p align="left">
                            例如：某物品保额为100欧元，但该物品的真实价值为200欧元（意味着该物品投保50％不足险）&nbsp;也就是说保险公司只负责支付50欧元，也就是保险价值的50％。<span></span>
                        </p>
                        <p align="left">
                            &nbsp;<b>一切险（综合险</b>）：保额按所海运中所列物品‘重置价值’的5%计算。此项保险范围包括整箱丢失、箱内物品被盗或箱遭受水淹。‘重置价值’为重新购买此项（损害、丢失）物品的价值。&nbsp;
                        </p>
                        <p align="left">
                        <table border="1" cellspacing="0" cellpadding="0" align="left" style="background-color:white;border:none;">
                            <tbody>
                            <tr>
                                <td width="80" style="border:solid windowtext 1.0pt;background:#404040;">
                                    <p align="left" style="text-indent:9pt;">
                                        <span style="font-size:9.0pt;font-family:宋体;color:white;">隆重置价值</span><span style="font-size:8.0pt;font-family:宋体;color:white;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">250</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="47" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">750</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">1,000</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">1,250</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="47" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">1,500</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">1,750</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">2,000</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="80" style="border:solid windowtext 1.0pt;background:#404040;">
                                    <p align="left" style="text-indent:9pt;">
                                        <span style="font-size:9.0pt;font-family:宋体;color:white;">一切险5%</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;">&nbsp;</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;"></span>
                                        <span style="font-size:8.0pt;font-family:宋体;color:white;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">12.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="47" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">37.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">50.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">62.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="47" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">75.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">87.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">100.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="80" style="border:solid windowtext 1.0pt;background:#404040;">
                                    <p align="left" style="text-indent:4.5pt;">
                                        <span style="font-size:9.0pt;font-family:宋体;color:white;">全损险3.5%</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;">&nbsp;</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;"></span>
                                        <span style="font-size:8.0pt;font-family:宋体;color:white;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">8.75</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="47" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">26.25</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">35.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">43.75</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="47" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">52.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">61.25</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">70.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p align="left">
                            <br />
                        </p>
                        </p>
                        <p align="left">
                            <br />
                            <b><br />
                            </b>
                        </p>
                        <p align="left">
                            <br><br><br><br><br><br>
                            <b>全损险：</b>保额按整箱重置价值的3.5%计算。此项投保范围包括整箱全部丢失，但不包括箱内部分物品丢失。&nbsp;另外，每一单项索赔需额外缴纳90欧元。所有索赔受《标准保险条款》限制。
                        </p>
                        <p align="left">
                        <table border="1" cellspacing="0" cellpadding="0" align="left" style="background-color:white;border:none;">
                            <tbody>
                            <tr>
                                <td style="border:solid windowtext 1.0pt;background:#404040;">
                                    <p align="left" style="text-indent:9pt;">
                                        <span style="font-size:9.0pt;font-family:宋体;color:white;">重置价值</span><span style="font-size:8.0pt;font-family:宋体;color:white;"></span>
                                    </p>
                                </td>
                                <td width="54" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">2,500</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">5,000</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">7,500</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">10,000</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">12,500</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">15,000</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#F2F2F2;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">17,500</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:solid windowtext 1.0pt;background:#404040;">
                                    <p align="left" style="text-indent:4.5pt;">
                                        <span style="font-size:9.0pt;font-family:宋体;color:white;">一切险5%</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;">&nbsp;</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;"></span>
                                        <span style="font-size:8.0pt;font-family:宋体;color:white;"></span>
                                    </p>
                                </td>
                                <td width="54" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">125.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">250.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">375.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">500.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">625.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">750.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#BFBFBF;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">875.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:solid windowtext 1.0pt;background:#404040;">
                                    <p align="left">
                                        <span style="font-size:9.0pt;font-family:宋体;color:white;">全损险3.5%</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;">&nbsp;</span>
                                        <span style="font-size:9.0pt;font-family:&quot;color:white;"></span>
                                        <span style="font-size:8.0pt;font-family:宋体;color:white;"></span>
                                    </p>
                                </td>
                                <td width="54" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">87.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">175.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">262.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">350.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">437.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">525.00</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                                <td width="57" style="border:solid windowtext 1.0pt;background:#A6A6A6;">
                                    <p align="left">
                                        <span style="font-size:8.0pt;font-family:宋体;color:#262626;">€</span><span style="font-size:9.0pt;font-family:&quot;color:#393E39;">612.50</span><span style="font-size:8.0pt;font-family:宋体;"></span>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p align="left">
                            &nbsp;
                        </p>
                        <p align="left">
                            &nbsp;
                        </p>
                        </p>
                        <p align="left">
                            <br />
                        </p>
                        <br /></div>
                    <div>&nbsp;</div>
                </div>
            </td>
        </tr>
    </table>
<!-- copy end-->
</body>
</html>