<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
    <div align="center">
        <form action="../Controllers/UserController.php" method="post">
            <p>用户登录</p><br>
            邮件地址:<input type="email" name="email" required><br>
            用户密码:<input type="password" name="password" required><br>
            <input type="hidden" name="type" value="login">
            <input type="submit" value="确定"> &nbsp;
            <input type="button" value="忘记密码" onclick="window.location.href='find_password.html'">
            <br>
        </form>
    </div>
</body>
</html>