<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div align="center">
        <form action="../Controllers/UserController.php" method="post" onsubmit="return checkForm(this);">
            <p>用户登录</p><br>
            新密码:<input type="password" name="password" required><br>
            新密码确认:<input type="password" name="passwordConfirm" required><br>
            <input type="hidden" name="type" value="reset_password">
            <input type="submit" value="确定"><br>
        </form>
    </div>
    <script type="text/javascript">
        function checkPassword(str) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            return re.test(str);
        }

        function checkForm(form) {
            if(form.password.value != "" && form.password.value == form.passwordConfirm.value) {
                if(!checkPassword(form.password.value)) {
                    alert("Error: The password must contain 6 number, upper & lower characters!");
                    form.password.focus();
                    return false;
                }
            } else {
                alert("Error: Password do not match");
                form.passwordConfirm.focus();
                return false;
            }
            return true;
        }
    </script>
</body>
</html>