@charset "utf-8";

body
{
	font-family:Arial, Helvetica, sans-serif;
	color:rgb(230,230,230);
}

@keyframes showSignInPageEmailInfoForm
{
	0%	{opacity:0;transform:translateX(-10em);}
	100%{opacity:1;transform:translateX(0em);}
}
@-webkit-keyframes showSignInPageEmailInfoForm
{
	0%	{opacity:0;-webkit-transform:translateX(-10em);}
	100%{opacity:1;-webkit-transform:translateX(0em);}
}

@keyframes hideSignInPageFgtPswrdLabel
{
	0%	{opacity:1;transform:translateX(0em);}
	100%{opacity:0;transform:translateX(-10em);}
}
@-webkit-keyframes hideSignInPageFgtPswrdLabel
{
	0%	{opacity:1;-webkit-transform:translateX(0em);}
	100%{opacity:0;-webkit-transform:translateX(-10em);}
}

/*@keyframes txtHighlight
{
	0%	{color:rgb(51,51,51);}
	50% {color:rgb(0,240,240); text-shadow:0 0 0.4em rgba(0,200,200,0.5);}
	100%{color:rgb(51,51,51);}
}
@-webkit-keyframes txtHighlight
{
	0%	{color:rgb(51,51,51);}
	50% {color:rgb(0,240,240); text-shadow:0 0 0.4em rgba(0,200,200,0.5);}}
	100%{color:rgb(51,51,51);}
}



@keyframes hideItem2
{
	0%	{opacity:1;transform:translateY(4em);}
	100%{opacity:0;transform:translateY(1.33em);}
}
@-webkit-keyframes hideItem2
{
	0%	{opacity:1;-webkit-transform:translateY(4em);}
	100%{opacity:0;-webkit-transform:translateY(1.33em);}
}

@keyframes hideItem3
{
	0%	{opacity:1;transform:translateY(5.33em);}
	100%{opacity:0;transform:translateY(1.33em);}
}
@-webkit-keyframes hideItem3
{
	0%	{opacity:1;-webkit-transform:translateY(5.33em);}
	100%{opacity:0;-webkit-transform:translateY(1.33em);}
}

@keyframes hideItem4
{
	0%	{opacity:1;transform:translateY(6.66em);}
	100%{opacity:0;transform:translateY(1.33em);}
}
@-webkit-keyframes hideItem4
{
	0%	{opacity:1;-webkit-transform:translateY(6.66em);}
	100%{opacity:0;-webkit-transform:translateY(1.33em);}
}

@keyframes hideItem5
{
	0%	{opacity:1;transform:translateY(8em);}
	100%{opacity:0;transform:translateY(1.33em);}
}
@-webkit-keyframes hideItem5
{
	0%	{opacity:1;-webkit-transform:translateY(8em);}
	100%{opacity:0;-webkit-transform:translateY(1.33em);}
}

@keyframes hideItem6
{
	0%	{opacity:1;transform:translateY(9.33em);}
	100%{opacity:0;transform:translateY(1.33em);}
}
@-webkit-keyframes hideItem6
{
	0%	{opacity:1;-webkit-transform:translateY(9.33em);}
	100%{opacity:0;-webkit-transform:translateY(1.33em);}
}

@keyframes hideItem7
{
	0%	{opacity:1;transform:translateY(10.66em);}
	100%{opacity:0;transform:translateY(1.33em);}
}
@-webkit-keyframes hideItem7
{
	0%	{opacity:1;-webkit-transform:translateY(10.66em);}
	100%{opacity:0;-webkit-transform:translateY(1.33em);}
}

@keyframes highlightMenuItem
{
	0%	{}
	100%{transform:scale(1.2,1.2);}
}
@-webkit-keyframes highlightMenuItem
{
	0%	{}
	100%{-webkit-transform:scale(1.2,1.2);}
}
